config.json
*.pem
/Terraform/Jenkins_Manager/*.terraform
/Terraform/worker_instances/*.terraform
/Terraform/Jenkins_manger/.terraform/
/Terraform/worker_instances/.terraform/
*terraform.tfstate
*terraform.tfstate.backup