# ignore an entire directory
Homework/03.02/main/.terraform/
# ingnoring terraform plugins
Homework/27.01/.terraform/
Homework/09.02/.terraform/
*terraform.tfstate.backup
*terraform.tfstate
config.json
*.pem
